# Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

trigger: none

pr: none

parameters:
  - name: INSTALL_INTERNAL_NGINX_INGRESS
    displayName: Install Internal NGINX Ingress Controller
    type: boolean
    default: true
  - name: CREATE_TLS_SECRET
    displayName: Create Nginx TLS Secret
    type: boolean
    default: true
  - name: SETUP_DB_SCHEMA
    displayName: Setup Database Schema
    type: boolean
    default: true
  - name: INSTALL_THUNDER
    displayName: Install Thunder
    type: boolean
    default: true
  - name: ADD_HOSTS_ENTRY
    displayName: Add Hosts Entry to VM
    type: boolean
    default: true
  - name: POPULATE_TEST_DATA
    displayName: Populate Test Data
    type: boolean
    default: true
  - name: THUNDER_REPO
    type: string
    displayName: "Thunder Repository"
    default: "asgardeo/thunder"
  - name: THUNDER_REPO_BRANCH
    type: string
    displayName: "Thunder Repository Branch"
    default: "main"
  - name: PERFORMANCE_REPO
    displayName: Performance repo name
    type: string
    default: "asgardeo/thunder-performance"
  - name: PERFORMANCE_REPO_BRANCH
    displayName: Performance repo branch name
    type: string
    default: "main"
  - name: THUNDER_IMAGE_REGISTRY
    displayName: Thunder Image Registry
    type: string
    default: "ghcr.io/asgardeo"
  - name: THUNDER_IMAGE_REPOSITORY
    displayName: Thunder Image Repository
    type: string
    default: "thunder"
  - name: THUNDER_IMAGE_TAG
    displayName: Thunder Image Tag
    type: string
    default: "0.7.0"

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: vg-thunder-perf
  - group: vg-thunder-perf-secrets
  - template: ./variables.yaml
  - name: THUNDER_REPO
    value: ${{parameters.THUNDER_REPO}}
  - name: THUNDER_REPO_BRANCH
    value: ${{parameters.THUNDER_REPO_BRANCH}}
  - name: PERFORMANCE_REPO
    value: ${{parameters.PERFORMANCE_REPO}}
  - name: PERFORMANCE_REPO_BRANCH
    value: ${{parameters.PERFORMANCE_REPO_BRANCH}}

resources:
  repositories:
    - repository: thunder-repo
      type: github
      endpoint: asgardeo
      name: $(THUNDER_REPO)
      ref: $(THUNDER_REPO_BRANCH)
    - repository: thunder-performance
      type: github
      endpoint: asgardeo
      name: $(PERFORMANCE_REPO)
      ref: $(PERFORMANCE_REPO_BRANCH)

jobs:
  - job: create_tls_secret
    condition: eq('${{ parameters.CREATE_TLS_SECRET }}', true)
    displayName: Create Nginx TLS Secret
    steps:
      - template: './templates/create-tls-secret.yaml'

  - job: install_nginx
    condition: eq('${{ parameters.INSTALL_INTERNAL_NGINX_INGRESS }}', true)
    displayName: Install NGINX Ingress Controller
    steps:
      - template: './templates/install-nginx.yaml'
        parameters:
          LB_INTERNAL_IP: $(INTERNAL_NGINX_CONTROLLER_LB_INTERNAL_IP)
          LB_INTERNAL_SUBNET: $(INTERNAL_NGINX_CONTROLLER_LB_INTERNAL_SUBNET)

  - job: setup_db_schema
    displayName: Setup Database Schema
    condition: eq('${{ parameters.SETUP_DB_SCHEMA }}', true)
    steps:
      - checkout: thunder-repo
        path: "thunder-repo"
      - template: './templates/setup-db-schema.yaml'
        parameters:
          WORKING_DIRECTORY: $(Agent.BuildDirectory)/thunder-repo/backend

  - job: install_thunder
    displayName: Install Thunder
    dependsOn: setup_db_schema
    condition: eq('${{ parameters.INSTALL_THUNDER }}', true)
    steps:
      - checkout: thunder-repo
        path: "thunder-repo"
      - template: './templates/install-thunder.yaml'
        parameters:
          WORKING_DIRECTORY: $(Agent.BuildDirectory)/thunder-repo/install/helm
          THUNDER_IMAGE_REGISTRY: ${{ parameters.THUNDER_IMAGE_REGISTRY }}
          THUNDER_IMAGE_REPOSITORY: ${{ parameters.THUNDER_IMAGE_REPOSITORY }}
          THUNDER_IMAGE_TAG: ${{ parameters.THUNDER_IMAGE_TAG }}

  - job: add_hosts_entry_to_vm
    displayName: Add Hosts Entry to VM
    dependsOn: install_thunder
    condition: eq('${{ parameters.ADD_HOSTS_ENTRY }}', true)
    steps:
      - template: './templates/add-hosts-entry-to-vm.yaml'

  - job: populate_test_data
    displayName: Populate Test Data
    dependsOn:
      - install_thunder
      - install_nginx
      - create_tls_secret
      - add_hosts_entry_to_vm
    condition: eq('${{ parameters.POPULATE_TEST_DATA }}', true)
    steps:
      - checkout: thunder-performance
        path: "thunder-performance"
      - template: './templates/populate-test-data.yaml'
        parameters:
          WORKING_DIRECTORY: $(Agent.BuildDirectory)/thunder-performance/perf-scripts
