# Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

parameters:
  - name: WORKING_DIRECTORY
    type: string
  - name: RELEASE_NAME
    type: string
    default: 'thunder-perf'
  - name: NAMESPACE
    type: string
    default: 'default'
  - name: THUNDER_IMAGE_REGISTRY
    type: string
    default: 'ghcr.io/asgardeo'
  - name: THUNDER_IMAGE_REPOSITORY
    type: string
    default: 'thunder'
  - name: THUNDER_IMAGE_TAG
    type: string
    default: '0.7.0'
  - name: SKIP_SECURITY
    type: string
    default: 'false'
  - name: RUN_SETUP_SCRIPT
    type: boolean
    default: false

steps:
  - template: ./utils/set-aks-credentials.yaml
  - task: AzureCLI@2
    displayName: 'Uninstall Thunder'
    inputs:
      azureSubscription: $(AZURE_SERVICE_CONNECTION_NAME)
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      workingDirectory: ${{ parameters.WORKING_DIRECTORY }}
      inlineScript: |
        if ! helm list -n ${{ parameters.NAMESPACE }} -q --filter "^${{ parameters.RELEASE_NAME }}$" | grep -q "^${{ parameters.RELEASE_NAME }}$"; then
          echo "Release ${{ parameters.RELEASE_NAME }} not found. Skipping uninstallation."
          exit 0
        fi
        echo "Uninstalling Thunder Helm Chart"
        if ! helm uninstall ${{ parameters.RELEASE_NAME }} \
          --namespace ${{ parameters.NAMESPACE }}; then
          echo "Error: Failed to uninstall Thunder Helm Chart"
          exit 1
        fi
        echo "Waiting for 10 seconds to ensure complete uninstallation"
        sleep 10
        echo "Uninstallation completed"

  - template: ./install-thunder.yaml
    parameters:
      WORKING_DIRECTORY: ${{ parameters.WORKING_DIRECTORY }}
      RELEASE_NAME: ${{ parameters.RELEASE_NAME }}
      NAMESPACE: ${{ parameters.NAMESPACE }}
      THUNDER_IMAGE_REGISTRY: ${{ parameters.THUNDER_IMAGE_REGISTRY }}
      THUNDER_IMAGE_REPOSITORY: ${{ parameters.THUNDER_IMAGE_REPOSITORY }}
      THUNDER_IMAGE_TAG: ${{ parameters.THUNDER_IMAGE_TAG }}
      SKIP_SECURITY: ${{ parameters.SKIP_SECURITY }}
      RUN_SETUP_SCRIPT: ${{ parameters.RUN_SETUP_SCRIPT }}
